

/* Hero */

.hero-banner { display: none;}

.hero {
    background-image: url("../images/hero-left-bg.png");
    background-color: var(--mint-cream);
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-block: 80px;
}

.hero-subtitle {
    color: var(--emerald);
    font-family: var(--ff-playfair-display);
    font-weight: var(--fw-700);
    font-style: italic;
    letter-spacing: 2px;
    margin-block-end: 20px;
}

.hero-title {
    color: var(--gunmetal-2);
    font-size: var(--fs-1);
    margin-block-end: 15x;
}

.hero-title .span{
    display: inline-block;
    color: var(--emerald);
    font-family: var(--ff-playfair-display);
    font-weight: var(--fw-700);
}

.hero-text {
    color: var(--roman-silver);
    font-size: var(--fs-4);
    line-height: 1.8;
    margin-block-end: 30px;
}



/* Service */

.service {
    background-image: url("../images/partner-left-bg.png");
    background-color: var(--shamrock-green);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-blend-mode: soft-light;
}

.service-list {
    display: grid;
    gap: 15px;
}

.item-icon {
    background-color: var(--white_25);
    max-width: max-content;
    padding: 20px;
    border-radius: 50%;
}

.service-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-title {
    color: var(--white);
}



/* Offers */

.offers-item {
    min-width: 100%;
    margin-inline: 15px;
    scroll-snap-align: start;
}

.offers-card {
    background-color: var(--mint-cream);
    padding: 30px 10px;
    text-align: center;
}

.offers-card .card-banner {
    margin-block-end: 20px;
}

.offers-card .card-banner img {
    max-width: max-content;
    margin-inline: auto;
}

.offers-card .card-subtitle {
    color: var(--emerald);
    font-size: var(--fs-7);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    margin-block-end: 5px;
}

.offers-card .card-title {
    color: var(--gunmetal-2);
    margin-block-end: 12px;
}

.offers-card .btn {
    max-width: max-content;
    margin-inline: auto;
    margin-top: 10px;
    --fs: var(--fs-8);
    --fw: var(--fw-400);
    --padding: 12px 20px;
}



/* Product */

.product { padding-block-start: 0;}

.product .section-title { margin-block-end: 40px;}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-block-end: 20px;
}

.filter-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 200px;
    background-color: var(--mint-cream);
    color: var(--gunmetal-2);
    padding: 15px 20px;
    font-size: var(--fs-5);
    font-family: var(--ff-playfair-display);
    font-weight: var(--fw-600);
}

.filter-btn.active .default,
.filter-btn .color { display: block;}

.filter-btn .default,
.filter-btn.active .color { display: none;}

.filter-btn.active {
    background-color: var(--emerald);
    color: var(--white);
}



/* CTA */

.cta {
    background-image: url("../images/cta-bg.png");
    background-color: var(--mint-cream);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 20px;
}

.cta .section-title {
    --fs-1: 2.5rem;
    margin-block-start: 20px;
}

.cta-text {
    color: var(--sonic-silver);
    font-size: var(--fs-4);
    margin-block: 15px 30px;
}

.cta .btn { margin-inline: auto;}



/* Top product */

.top-product .section-title { margin-block-end: 40px;}

.top-product-card .card-banner { margin-block-end: 40px;}

.top-product-card .product-btn {
    --padding: 8px;
    --fs: 1.6rem;
}

.top-product-card .card-content {
    margin-block-end: -46px;
    transition: var(--transition-2);
}

.top-product-card:is(.rating-wrapper, .card-title) { margin-block-end: 12px;}

.top-product-card .rating-wrapper { transition: var(--transition-2);}

.top-product-card .btn,
.top-product-card:is(:hover, :focus-within) .rating-wrapper { opacity: 0;}

.top-product-card:is(:hover, :focus-within) .card-content { transform: translateY(-41px);}

.top-product-card:is(:hover, :focus-within) .btn { opacity: 1;}



/* partner */

.partner { background-color: var(--emerald);}

.partner .section-subtitle { color: var(--white);}

.partner .section-title {
    color: var(--white);
    margin-block-end: 40px;
}

.partner-logo {
    max-width: max-content;
    margin-inline: auto;
}

.partner-item {
    min-width: 100%;
    scroll-snap-align: center;
}



/* Testimonials */

.testimonials { text-align: center; }

.testimonials .section-title { margin-block-end: 40px; }

.testi-item {
  margin-inline: 15px;
  min-width: 100%;
  scroll-snap-align: start;
}

.testi-card {
  background-color: var(--mint-cream);
  padding: 30px 20px;
}

.testi-card .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.testi-card .card-avatar { border-radius: 50%; }

.testi-card .rating-wrapper { margin-block: 30px 20px; }

.testi-card .card-text {
  color: var(--battleship-gray);
  line-height: 1.7;
  font-size: var(--fs-6);
}

.testi-card .card-title {
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
  margin-block: 25px 15px;
}

.testi-card .card-subtitle {
  color: var(--emerald);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
}



/* Blog */

.blog { padding-block-start: 0; }

.blog .section-title { margin-block-end: 40px; }

.blog-list {
  display: grid;
  gap: 30px;
}

.blog-card :is(.card-banner, .card-content) { padding: 30px; }

.blog-card .card-banner { background-color: var(--mint-cream); }

.blog-card .card-content { border: 2px solid var(--mint-cream); }

.blog-card .card-wrapper {
  display: flex;
  justify-content: space-between;
}

.blog-card .wrapper-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--fs-7);
  color: var(--battleship-gray);
}

.blog-card .wrapper-item ion-icon {
  color: var(--emerald);
  font-size: 1.5rem;
}

.blog-card .card-title {
  margin-block: 20px 30px;
  font-family: var(--ff-roboto);
  color: var(--russian-violet);
}

.blog-card .card-title a { transition: var(--transition-2); }

.blog-card .card-title a:is(:hover, :focus) { color: var(--emerald); }